In [3]:
import sys
sys.path.append("../scripts/")

import pandas as pd

from robot import *

In [2]:
m = Map()
m.append_landmark(Landmark(1, 0))

distance = []
direction = []

for _ in range(1000):
    c = Camera(m)
    d = c.data(np.array([0.0, 0.0, 0.0]).T)
    if len(d) > 0:
        distance.append(d[0][0][0])
        direction.append(d[0][0][1])

In [5]:
df = pd.DataFrame()
df["distance"] = distance
df["direction"] = direction
df

     distance  direction
0    1.181514  -0.038384
1    0.869818  -0.000782
2    0.960220   0.007879
3    0.913838   0.075978
4    0.838620   0.031495
..        ...        ...
888  1.084977   0.011187
889  1.127698   0.056596
890  1.005460   0.014719
891  1.070810  -0.028668
892  0.733547   0.061072

[893 rows x 2 columns]

In [6]:
df.std()

distance     0.145604
direction    0.049754
dtype: float64

In [7]:
df.mean()

distance     0.999279
direction    0.001722
dtype: float64